// Import app variables
@import "app-variables";

// Import the theme’s main ruleset - both index and platform specific.
// @import '~nativescript-theme-core/scss/index';
// @import '~nativescript-theme-core/scss/platforms/index.android';

// Import common styles
@import "app-common";

// Place any CSS rules you want to apply only on Android here
.action-item .fas {
  width: 24;
  height: 24;
}
.action-item {
  padding-right: 12;
}
ActionBar {
  background-color: #3F4444;
  color: #FFFFFF;
}
